.btn-container{
    width:400px;
}

.btn-group{
    display: flex;
}

.btn{
    width: 100px;
    height: 40px;
    border: none;
}

.btn-long{
    width: 400px;
    background-color: rgb(247, 255, 3);
}

.btn-black{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: bisque;
}